.recipebackground {
  background-color: #a3c57d;
  min-height: 85vh;
  padding: 5vh 3vw;
}

.postcontainer {
  display: flex;
  flex-direction: column;
  padding: 10vh 20vw;
}

.titlecontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5vh;
}

.postcontainerh2,
.postcontainer h3,
.postcontainer p,
.postcontainer a {
  padding: 10px 0px;
}

.titlecontainer h2 {
  font-size: 40px;
}

.recipebackground h3,
.postcontainer h3 {
  font-size: 28px;
}

.recipebackground h3 {
  text-align: center;
  padding-bottom: 50px;
}

.postcontainer p {
  font-size: 24px;
}

.recipebackground a {
  color: #2d2d2d;
  font-size: 24px;
  text-decoration: none;
  background-color: #d6e29d;
  text-align: center;
  padding: 1vh 1vw;
  border-radius: 40px;
  display: flex;
  width: 10vw;
  justify-content: center;
  margin-bottom: 10px;
}

.recipebackground a:hover {
  text-decoration: underline;
}

.formandcomments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentform {
  margin-bottom: 20px;
}

.commentform label {
  font-size: 24px;
  margin-right: 20px;
}

.commentform input {
  border: none;
  border-radius: 40px;
  padding: 1vh 1vw;
  margin-right: 20px;
}

.commentform button {
  background-color: #d6e29d;
  border: none;
  border-radius: 40px;
  padding: 1vh 1vw;
}

.commentform button:hover {
  cursor: pointer;
}

.comment {
  background-color: #d6e29d;
  border-radius: 40px;
  padding: 1vh 3vw;
  margin: 2vh 0vw;
  width: 30vw;
}

.comment p {
  font-size: 20px;
}
